*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dashed-border{
  border: 2px dashed black;
}

nav{
  min-height: 100px;
  background-color: rgba(173,216,230,255);
  display: flex;
}

.nav-container{
  height: 80px;
  max-width: 1180px;
  width: 75%;
  margin: auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.nav-container div{
  background-color: rgba(218,165,32,255);
  padding: 5px;
  font-size: 30px;
  align-self: center;     /* check sull'altezza */
  border: 2px dashed black;
}

.nav-container div:first-child{
  flex-grow: 1;
}

.nav-container div:nth-child(2){
  flex-grow: 4;
  text-align: center;
}

.nav-container div:last-child{
  flex-grow: 1;
  text-align: end;
}

header{
  height: 500px;
  background-color: rgba(0,0,139,255);
  display: flex;
}

header > div{
  height: 400px;
  width: 980px;
  background-color: rgba(238,130,238,255);
  margin: auto;
  align-items: center;
}

hr{
  border: none;
}

hr:first-of-type{
  height: 5px;
  background-color: rgba(173,216,230,255);
}

hr:nth-of-type(2){
  height: 3px;
  background-color: rgba(193,194,194,255);
}

main{
  display: flex;
  flex-wrap: wrap;
}

.flex-container{
  display: flex;
  width: 100%;
}

.flex-container-squares{
  height: 550px;
  margin: auto;
  display: flex;
}

.bg-white{
  background-color: white;
}

.bg-grey{
  background-color: rgba(211,211,211,255);
}

.bg-black{
  background-color: rgba(35,39,42,255);
}

.bg-aquamarine{
  background-color: rgba(127,255,212,255);
}

.box{
  margin: auto;
  align-items: center;
  height: 450px;
}

.square-celeste{
  width: 750px;
  background-color: rgba(30,144,255,255);
}

.square-pink{
  width: 500px;
  background-color: rgba(255,192,203,255);
}

.order{
  order: -1;
}

.big-box{
  height: 800px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

.square-green{
  width: 1250px;
  height: 700px;
  background-color: rgba(34,139,34,255);
  margin: auto;
}

.flex-container-rectangles{
  height: 650px;
  margin: -35px auto auto;
  display: flex;
}

.box-long{
  margin: auto;
  align-items: center;
  height: 550px;
}

.square-salmon{
  width: 416px;
  background-color: rgba(240,128,128,255);
}

.square-teal{
  width: 208px;
  background-color: rgba(32,178,170,255);
}

.flex-container-outro{
  min-height: 125px;
  display: flex;
  align-items: center;
}

.footer-container{
  display: flex;
  height: 90px;
  max-width: 1250px;
  width: 75%;
  margin: 10px auto 0;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}

.footer-container div{
  background-color: rgba(255,182,193,255);
  padding: 5px;
  font-size: 30px;
  align-self: center;
  border: 2px dashed black;
}