*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dashed-border{
  border: 2px dashed black;
}

nav{
  background-color: rgba(173,216,230,255);
  min-height: 100px;
  display: flex;
}

.nav-container{
  height: 80px;
  max-width: 1180px;
  width: 75%;
  margin: auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.nav-container div{
  background-color: rgba(218,165,32,255);
  padding: 5px;
  font-size: 30px;
  align-self: center;     /* check sull'altezza */
  border: 2px dashed black;
}

.nav-container div:first-child{
  flex-grow: 1;
}

.nav-container div:nth-child(2){
  flex-grow: 4;
  text-align: center;
}

.nav-container div:last-child{
  flex-grow: 1;
  text-align: end;
}

header{
  height: 500px;
  background-color: rgba(0,0,139,255);
  display: flex;
}

header > div{
  height: 400px;
  width: 980px;
  background-color: rgba(238,130,238,255);
  margin: auto;
  vertical-align: auto;
  align-items: center;
}