*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav{
  background-color: rgba(173,216,230,255);
  min-height: 100px;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  max-width: 980px;
  margin: auto;
  /* padding: calc(); */
}

.nav-container div{

}